body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border: 2px solid #999;
    display: flex;
    flex-direction: column;
}

.card_header img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 10em;

    /*para fazer algo semelhante ao background-size com img*/
    object-fit: cover;
    
    /*
    para fazer algo semelhante ao background-position com img*/
    object-position: center;
}

.card_body {
    padding: 1em;
    /*Sempre que colocar um padding coloque um box sizing para evitar problema*/
    box-sizing: border-box;
    background-color: #ccc;
    flex-grow: 1;
}

.card_btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: darkslategrey;
    padding: .75em 1em;
    color: white;

    display: inline-block;
}

.card_body p {
    margin: 0 0 1em;
}

@media screen and (min-width: 50em) {
    .card {
        flex-direction: row;
    }

    .card_header img {
        /*initial -> volta ao valor original de fabrica*/
        max-height: initial;
    }
}

.card_container {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

@media screen and (min-width: 70em) {
    .card_container {
        flex-direction: row;
    }
}