body {
    font-family: sans-serif;
    background-color: url(imagens/tile.png);
}

/* usando contado */
.cores {
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 20px;

    counter-increment: contador;
}

.cores::before {
    content: "[" counter(contador) "]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

section {
    counter-reset: contador;
}
/*----*/
.cores p {
    margin: 0;
}



