body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, blue 50%, red 60%), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    background-blend-mode: color;
}

/* usando contado */
.cores {

    --color: color-mix(in srgb, var(red), transparent);

    background-color: var(--color);
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 20px;

    counter-increment: contador;
}

.cores::before {
    content: "[" counter(contador) "]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

section {
    counter-reset: contador;
}
/*----*/
.cores p {
    margin: 0;
}



