body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, blue 50%, red 60%), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    background-blend-mode: color;
}

/* usando contado */
.cores {

    --color: color-mix(in srgb, var(red), transparent);

    background-color: var(--color);
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 20px;

    counter-increment: contador;
}

.cores::before {
    content: "[" counter(contador) "]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

section {
    counter-reset: contador;
}
/*----*/
.cores p {
    margin: 0;
}

.cores:nth-last-of-type(2) {
    background-color: rred;

    /*define qual elemento o background color vai se limitar*/
    background-clip: content-box;
}

.cores:nth-last-of-type(3) {
    background-color:hsl(50deg, 100%, 50%);
}

.cores:nth-last-of-type(4) {
    background-image: linear-gradient(70deg, blue, transparent),
                        linear-gradient(to top, red, transparent);
    background-clip: content-box, padding-box;
}

.cores:nth-last-of-type(4) {
    /*ellipse por padrão*/
    /*espalha as cores do centro para os cantos(por padrao)*/
    background-color: radial-gradient(blue, red, green 50%, yellow);
 }

 .cores:nth-last-of-type(5) {
    background-color: radial-gradient(circle ,blue, red, green 50%, yellow);
 }

.cores:nth-last-of-type(6) {
    background-color: radial-gradient(circle ,blue, red, green 50%, yellow);
}

.cores:nth-last-of-type(7) {
    /*background-color: radial-gradient(circle at left top ,blue, red);*/
    /*                                   eixo -> x   y*/
    background-color: radial-gradient(circle at 10% 50% ,blue, red);
}


.cores:nth-last-of-type(7) {
    /*background-color: radial-gradient(circle at left top ,blue, red);*/
    /*                                   eixo -> x   y*/
    background-color: radial-gradient(closest-corner at 10% 50% ,blue, red);
}

.cores:nth-last-of-type(7) {
    /*background-color: radial-gradient(circle at left top ,blue, red);*/
    /*                                   eixo -> x   y*/
    background-color: radial-gradient(farthest-corner at 10% 50% ,blue, red);
}

.cores:nth-last-of-type(7) {
    /*background-color: radial-gradient(circle at left top ,blue, red);*/
    /*                                   eixo -> x   y*/
    background-color: radial-gradient(closest-side at 10% 50% ,blue, red);
}

.cores:nth-last-of-type(7) {
    /*background-color: radial-gradient(circle at left top ,blue, red);*/
    /*                                   eixo -> x   y*/
    background-color: radial-gradient(farthest-side at 10% 50% ,blue, red);
}                              /* ate onde vai -^ */